.contents {
    height: 100vh;
    /* float:left; */
    padding: 70px 30px 40px 20px;
    align-items:center;
  }

  .sidenav { 
    float:left; 
    width:20%; 
    height: 100vh;
    background:darkslategray; 
    overflow-x: hidden; 
    padding-top: 60px;  
}

header {
  position:fixed;
  width:100%;
  top:0px;
  background:darkslateblue;
  text-align: end;
  padding: 10px 10px 10px 0px;
  /* margin-bottom: 0!important; */
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background: darkslateblue;
  text-align: end;
  padding: 10px 20px 10px 0px;
}